[submodule "XRInteractionToolkitReview"]
	path = XRInteractionToolkitReview
	url = https://github.com/BlackDilvish-WFiIS/XRInteractionToolkitReview
[submodule "VRTK-Review"]
	path = VRTK-Review
	url = https://github.com/BlackDilvish-WFiIS/VRTK-Review
[submodule "VRBuilderReview"]
	path = VRBuilderReview
	url = https://github.com/BlackDilvish-WFiIS/VRBuilderReview
[submodule "OculusInteractionSDKReview"]
	path = OculusInteractionSDKReview
	url = https://github.com/BlackDilvish-WFiIS/OculusInteractionSDKReview
